.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Times New Roman', Times, serif
}

body {
    background-color: black;
    color: rgb(214, 214, 214);
    margin: 0%;
    padding: 0%;
}

h3 {
    color: gray;
}

.nav-wrapper {
    display: flex;
    margin-right: 5vh;
}

.nav-wrapper li {
    display: flex;
    text-decoration: none;
}

.main-text-wrapper h1 h2 h3 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}